<table id="table-cond-pla" class="table table-bordered table-hover" style="font-size: 12px;">
    <thead class="header" style="color: #040404;background-color:#f5f5f5">
    <tr>
        <th id="tipoDocCCP">Tipo Doc. Ident.</th>
        <th id="numDocCCP" >Num. Doc. Ident.</th>
        <th id="codServCCP">Cod. Servidor</th>
        <th id="nombCCP">Apellidos y Nombres</th>
        <th id="condFechCCP">Cond. a Fechas</th> <!--  se muestra cuando selecciona alta o baja -->
        <th id="fechCambCCP">Fecha Cambio Cond.</th> <!--  se muestra cuando selecciona alta o baja -->
        <!--<th id="adendaVigCCP">Adenda Vigente</th>     -->
        <th id="estCCP">Estado</th>
        <th id="tipServCCP">Tipo Servidor</th>
    </tr>
    </thead>
    <tbody id="">
    {{#each items}}
        <tr id="{{codSer}}" >
            <td>{{tipoDoc}}</td>
            <td>{{numDoc}}</td>
            <td>{{codSer}}</td>
            <td>{{apePat}} {{apeMat}} {{nombre}}</td>
            <td>{{condFech}}</td>
            <td>{{mes}}/{{anio}}</td>
            <td>{{est}}</td>
            <td>{{tipSer}}</td>
        </tr>
    {{else}}
        <td colspan="6"> No existen registros para su búsqueda.</td>
    {{/each}}
    </tbody>
</table>

<style type="text/css">
    #table-cond-pla_length{
        display:none;
    }

    #table-cond-pla_paginate{
        position: absolute;
        margin-top: -17px;
        left: 52%;
    }
    #table-cond-pla_info{
        float: left;
        margin-top: -12px;
        margin-left: 18px;
        font-size: 10px;
        color: rgb(2, 2, 2);
    }
    #table-cond-pla tr{
        cursor: pointer;
    }

    #table-cond-pla_previous{
        cursor: pointer;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }
    #table-cond-pla_next{
        cursor: pointer;
        margin-left: 19px;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }

</style>