 <table id="tabla-informacion-serv" class="table table-bordered " style="font-size: 10px;" >
            <thead class="header" style="color: #040404;background-color:#f5f5f5" id="tabla_ser_head">
                    <tr>
                        <!-- <th id ="tdoc" >Tipo de Doc.</th>
                         <th id ="ndoc" >N°Doc. Identidad</th>
                         <th id ="cser">Cod. Servidor</th>
                         <th id ="apn" >Apellidos y Nombres</th>
                         <th id="tedad" >Edad</th>
                         <th id="tsexo" >Sexo</th>
                         <th id="ttipos" >Tipo de Servidor</th>
                         <th id="testado" >Estado</th>
                         <th id="tcategoria" >Categoria</th>
                         <th id="tregpen" >Régimen Pensionario</th>
                         <th id="ttipoo" >Tipo de Pago</th>
                         <th id="tdep" >Dependencia</th>
                         <th id="tfeching" >Fecha Ingreso</th>  -->
                       </tr>
            </thead>
            <tbody class="body-table" id="tabla_inform_ser_body">
            <!--{{#each items}}
            <tr id="{{nu_doc}}" class="">
                <td>{{tip_doc}}</td>
                <td>{{nu_doc}}</td>
                <td>{{co_serv}}</td>
                <td>{{ap_pat}} {{ap_mat}} {{nom}}</td>
                <td>{{eda}}</td>
                <td>{{sex}}</td>
                <td>{{ti_ser}}</td>
                <td>{{estad}}</td>
                <td>{{cate}}</td>
                <td>{{reg_pe}}</td>
                <td>{{ti_pag}}</td>
                <td>{{dep_serv}}</td>
                <td>{{ingre_unmsm}}</td>
            </tr>
            {{else}}
                <td colspan="6">No existen Servidores</td>
            {{/each}}-->

            </tbody>
</table>

 <style type="text/css">
     #tabla-informacion-serv_length{
         display:none;
     }

     #tabla-informacion-serv_paginate{
         position: absolute;
         margin-top: -17px;
         left: 52%;
     }
     #tabla-informacion-serv_info{
         float: left;
         margin-top: -12px;
         margin-left: 18px;
         font-size: 10px;
         color: rgb(2, 2, 2);
     }
     #fam_content>tr{
         cursor: pointer;
     }

     #tabla-informacion-serv_previous{
         cursor: pointer;
         display: inline-block;
         padding: 3px 10px;
         background-color: #fff;
         border: 1px solid #ddd;
         -webkit-border-radius: 15px;
         border-radius: 5px;
     }
     #tabla-informacion-serv_next{
         cursor: pointer;
         margin-left: 19px;
         display: inline-block;
         padding: 3px 10px;
         background-color: #fff;
         border: 1px solid #ddd;
         -webkit-border-radius: 15px;
         border-radius: 5px;
     }


 </style>