<legend id="desc">Dependencia: <span id="nom_encabezado_plazas" ></span> </legend>


<table   id="tabla_plazas" class="table  table-bordered table-hover " style="font-size: 10px;">

            <thead class="header" style="color: #040404;background-color:#f5f5f5">
                   <tr>
                                       <th>Cod Plaza</th>

                                       <th>Sub. Dependencia</th>

                                        <th>Cargo</th>

                                       <th>Est. Plaza</th>
                                       <th>Cod Servidor</th>
                                       <th>DNI Servidor</th>
                                       <th>Categoria</th>
                                       <th>Ape. Pat</th>
                                       <th>Ape. Mat</th>
                                       <th>Nombre</th>
                                       <th>Fecha de asignacion de la plaza</th>
                                       <th>Fecha fin de la Asignacion</th>
                                       <th>Modalidad</th>
                                       <th>Eliminar Asignación</th>
                                       <th>Asignar Servidor</th>
                   </tr>
            </thead>
            <tbody   class="body-table " id="plazas_body">
            {{#each items}}
                                <tr id="{{cod_dep}}" class="">

                                      <td>{{cod_plaza}}</td>

                                      <td> {{subDep}}   </td>

                                      <td>{{nom_estruc}}</td>

                                      <td>{{est_plaza}}</td>

                                      <td> {{cod_ant_ser}}   </td>




                                      <td>{{cod_servidor}}</td>

                                       <td>   {{categoria}}      </td>


                                      <td>{{ape_pat}}</td>
                                      <td>{{ape_mat}} </td>
                                      <td>{{nom_ser}} </td>
                                      <td>{{fech_ing}} </td>
                                      <td>{{fech_sal}} </td>
                                      <td> {{ser_mod}}</td>
                                      <td>
                                         <button  id="botonCapturarDatosParaEliminarPlazaAsignada"    class="btn btn-danger btn-xs"  type="button"  codPlaza={{cod_plaza}}    cod_est_plaza={{cod_est_plaza}}        >
                                              <span  class="glyphicon glyphicon-minus-sign"></span>
                                         </button>

                                      </td>

                                      <td>
                                         <button id="botonBuscarServidores" class="btn btn-primary btn-xs" type="button"  cod_plaza={{cod_plaza}}      cod_est_plaza={{cod_est_plaza}}     nom_estruc={{nom_estruc}}   >
                                             <span class="glyphicon glyphicon-plus-sign"></span>
                                         </button>
                                      </td>
                                </tr>
                            {{else}}
                                <td colspan="6">No existen plazas en esta dependencia</td>
                            {{/each}}
            </tbody>

</table>



<style type="text/css">




#tabla_plazas_first{
        cursor: pointer;
        margin-right: 1px;
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }

    #tabla_plazas_last{
        cursor: pointer;
        margin-left: 1px;
        display:inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        border-radius: 5px;
    }


 .paginate_button{
            box-sizing: border-box;
              display: none;
              min-width: 1.5em;
              padding: 0.5em 1em;
              margin-left: 2px;
              text-align: center;
              text-decoration: none !important;
              cursor: pointer;
              *cursor: hand;
              color: #333333 !important;
              border: 1px solid transparent;
              -pointer-events: none;
         }

     .paginate_active{
                 cursor: pointer;
                 margin-left: 19px;
                 display: inline-block;
                 padding: 3px 10px;
                 background-color: #fff;
                 border: 1px solid #ddd;
                 -webkit-border-radius: 15px;
                 border-radius: 5px;
                 -pointer-events: none;
             }




     #tabla_plazas_paginate{
         position: absolute;
         margin-top: -20px;
         left: 40%;
     }



</style>